SPOKE_ID=ldap-spoke-1
SPOKE_SECRET=change-me
HUB_SECRET=change-me
HUB_WS=ws://localhost:8765
HUB_API=http://localhost:8000
LDAP_ADMIN_DN="cn=admin,dc=example,dc=org"
LDAP_ADMIN_PW="admin"
LDAP_BASE_DN="dc=example,dc=org"
